* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #201d1d;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #333;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;

  position: sticky;
  top:0;

  z-index: 1000;
  width: 100%;
  min-height: 70px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: rgb(35, 140, 211);
}

#hero {
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  overflow: hidden;
  padding-left: 5%;
  margin-bottom: 30px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

#hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 
  0 0 40px rgb(0, 0, 0),
  0 0 80px rgb(0, 0, 0),
  0 0 120px rgb(0, 0, 0);
}
#hero p {
  margin-bottom: 20px;
  text-shadow: 
  0 0 40px rgb(0, 0, 0),
  0 0 80px rgb(0, 0, 0),
  0 0 120px rgb(0, 0, 0);
}

footer {
  background-color: #222;
  padding: 40px;
  text-align: center;
  margin-top: 50px;

  position: sticky;
  top:100vh;
  
}

.gallery{
    font-size: 60px;
    align-items: center;
    grid: 50vh;
    width: 100%;
    min-height: 200vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 450px));

  gap : 30px;
  max-width: 100%;
  padding: 0 20%;
  margin: 0 auto;
}

.gallery h1{
    background-color: rgb(64, 92, 92);
    font-size: 50px;
    text-align: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

/* Projects items css */

.project-card {
    aspect-ratio: 1 / 1.2;
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden; 
    text-decoration: none; 
    color: white;
}

.project-card img {
  width: 100%;  
  height: 100%; 
  object-fit: cover;
  display: block;
}

.project-card h3 {
  padding: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #2a2a2a15;
  margin: 0;
}

.project-card {
  transition: transform 0.3s ease;  
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
}

.project-overlay {
  opacity: 0;
  transition: opacity 0.3s;
}

.project-card:hover .project-overlay {
  opacity: 1;
}